html, body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    background: #1a1a1a;
    background: #39081d;
    color: #fff;
}
header {
    text-align: center;
}
header div {
    display: inline-block;
    vertical-align: top;
    padding-top: 32px;
    max-width: 580px;
}
h1 {
    font-family: Rokkitt;
    font-size: 4.8em;
    line-height: 1em;
}
h2 {
    font-family: Roboto;
    font-size: 2.4em;
    line-height: 1.4em;
    font-weight: 100;
}
h3 {
    font-family: Rokkitt;
    color: #f9ff4f;
    font-size: 1.8em;
    line-height: 1.4em;
}
header h2 {
    color: #f9ff4f;
}
main h2 {
    margin-top: 20px;
}
main p {
    line-height: 1.8em;
}
a {
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    padding: .2em;
    line-height: 1em;
    background: #00ff00;
    color: #1a1a1a;
    font-weight: bold;
    margin: 4px;
    background: #333;
    color: #fff;
    font-weight: 100;
}
footer {
    margin: 100px 0;
}
footer .social {
    text-align: right;
}
footer h2 {
    margin-top: 100px;
    font-size: 1.4em;
}
section.slack {
    background: #9e0a49;
    padding: 1em;
}
label {
    display: block;
    padding: 0.4em;
}
label span {
    display: inline-block;
    width: 8em;
}
input {
    font-size: 1em;
}
.event {
    padding: 10px;
    margin: 20px 0;
    background: #9e0a49;
}
.news {
    padding: 10px;
    margin: 20px 0;
    background: #9e0a49;
}
.cta {
    margin: 20px;
    font-size: 1.4em;
    background: #f9ff4f;
    padding: 10px;
    color: #1a1a1a;
    border: 0;
}
.container {
    max-width: 800px;
    margin: auto;
}
.notification {
    background: #f9ff4f;
    color: #39081d;
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
}
.notification a {
    background: none;
    color: inherit;
    padding: 0;
    margin: 0;
}
.notification .cta {
    background: #9e0a49;
    color: #fff;
    padding: 0.4em;
    margin: 0.4em;
    border-radius: 0.4em;
}
iframe {
    width: 100% !important;
}
@media all and (max-width: 800px) {
    header div {
        padding: 0 0 20px;
    }
    .cta {
        float: none;
    }
}